@import "./theme.styl";

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

.background-test {
  background: var(--no-data) no-repeat;
  height: 500px;
}